/target/
/.idea
/*.iml
/*.ipr
/*.iws
/.settings/
/.classpath
/.project
/dependency-reduced-pom.xml
/bin/
/doc/
/conf/
/log/
/site/
/.bloop/
/.metals/
/.vscode/
.Rproj.user
__pycache__
/.bsp
/.scala-build
