*.iml
.DS_Store
.Rproj.user
/*.ipr
/*.iws
/.bloop/
/.bsp
/.classpath
/.idea
/.metals/
/.project
/.scala-build
/.settings/
/.vscode/
/bin/
/conf/
/doc/
/log/
/site/
__pycache__
dependency-reduced-pom.xml
target
