site_name: Apache Sedona™ (incubating) 
site_description: Apache Sedona (incubating) is a cluster computing system for processing large-scale spatial data. Sedona extends Apache Spark / SparkSQL with a set of out-of-the-box Spatial Resilient Distributed Datasets / SpatialSQL that efficiently load, process, and analyze large-scale spatial data across machines.
nav:
    - Home: index.md
    - Setup:
      - Overview: download/overview.md
      - Supported platforms: download/platform.md
      - Maven Central coordinate: download/maven-coordinates.md      
      - Download: download/download.md
      - Installation:
        - Install Sedona Scala/Java: download/install-scala.md
        - Install Sedona Python: download/install-python.md
        - Install Sedona R: download/install-r.md
        - Install Sedona-Zeppelin: download/zeppelin.md
        - Install on Databricks: download/databricks.md
      - Release notes: download/release-notes.md      
      - Set up Spark cluser: download/cluster.md
      - Compile the code: download/compile.md
      - Publish the code: download/publish.md
    - Programming Guides:
      - Spatial RDD app:
        - Scala/Java: tutorial/rdd.md
        - Python: tutorial/core-python.md
        - R: tutorial/rdd-r.md
      - Spatial SQL app:
        - Scala/Java: tutorial/sql.md
        - Pure SQL: tutorial/sql-pure-sql.md
        - Python: tutorial/sql-python.md
        - R: tutorial/sql-r.md
        - Raster data - Map Algebra: tutorial/raster.md
      - Map visualization SQL app:
        - Scala/Java: tutorial/viz.md
        - Use Apache Zeppelin: tutorial/zeppelin.md
        - R: tutorial/viz-r.md
        - Gallery: tutorial/viz-gallery.md
      - Examples:
        - Scala/Java: tutorial/demo.md
        - Python: tutorial/jupyter-notebook.md
      - Performance tuning:
        - Benchmark: tutorial/benchmark.md            
        - Tune RDD application: tutorial/Advanced-Tutorial-Tune-your-Application.md
    - API Docs:
      - RDD (core):
        - Scala/Java doc: api/java-api.md
        - Python doc: api/python-api.md
        - R doc: api/r-api.md
      - SQL:
        - Quick start: api/sql/Overview.md
        - Vector data:
            - Constructor: api/sql/Constructor.md
            - Function: api/sql/Function.md
            - Predicate: api/sql/Predicate.md
            - Aggregate function: api/sql/AggregateFunction.md
            - Join query (optimizer): api/sql/Optimizer.md
        - Raster data:
            - Raster input and output: api/sql/Raster-loader.md
            - Raster operators: api/sql/Raster-operators.md
        - Parameter: api/sql/Parameter.md
      - Viz:
        - DataFrame/SQL: api/viz/sql.md
        - RDD: api/viz/java-api.md
    - Community:
      - Community: community/contact.md 
      - Contributing rule: community/rule.md
      - Committers: community/contributor.md
      - Publications: community/publication.md
    - GeoSpark Legacy Docs:
      - Download:
        - Quick start: archive/download/overview.md
        - Release notes: archive/download/GeoSpark-All-Modules-Release-notes.md      
        - Maven Central coordinate: archive/download/GeoSpark-All-Modules-Maven-Central-Coordinates.md
        - Set up Spark cluser: archive/download/cluster.md
        - Spark Scala shell: archive/download/scalashell.md
        - Self-contained project: archive/download/project.md
        - Install GeoSpark-Zeppelin: archive/download/zeppelin.md
        - Compile the source code: archive/download/compile.md
      - Tutorial:
        - Spatial RDD application: archive/tutorial/rdd.md
        - Spatial SQL application: archive/tutorial/sql.md
        - Visualize Spatial DataFrame: archive/tutorial/viz.md
        - Run GeoSpark via Zeppelin: archive/tutorial/zeppelin.md
        - Spatial RDD in Python: archive/tutorial/geospark-core-python.md
        - Spatial SQL in Python: archive/tutorial/geospark-sql-python.md
        - GeoSpark template project: archive/tutorial/GeoSpark-Runnable-DEMO.md
        - Frequently Asked Questions: archive/tutorial/faq.md
        - Tune GeoSpark RDD application: archive/tutorial/Advanced-Tutorial-Tune-your-GeoSpark-Application.md
        - Benchmark: archive/tutorial/benchmark.md
      - API:
        - GeoSpark core (RDD):
          - Scala/Java doc: archive/api/GeoSpark-Scala-and-Java-API.md
          - Python doc: archive/api/GeoSpark-Python-API.md
        - GeoSpark SQL:
          - JavaDoc: archive/api/sql/GeoSparkSQL-javadoc.md
          - Quick start: archive/api/sql/GeoSparkSQL-Overview.md
          - Constructor: archive/api/sql/GeoSparkSQL-Constructor.md
          - Function: archive/api/sql/GeoSparkSQL-Function.md
          - Predicate: archive/api/sql/GeoSparkSQL-Predicate.md
          - Aggregate function: archive/api/sql/GeoSparkSQL-AggregateFunction.md
          - Join query (optimizer): archive/api/sql/GeoSparkSQL-Optimizer.md
          - Parameter: archive/api/sql/GeoSparkSQL-Parameter.md
        - GeoSpark Viz:
          - DataFrame/SQL: archive/api/viz/sql.md
          - RDD: archive/api/viz/Babylon-Scala-and-Java-API.md
    - Apache Software Foundation:
      - Foundation: asf/asf.md
      - License: https://www.apache.org/licenses/" target="_blank
      - Events: https://www.apache.org/events/current-event" target="_blank
      - Sponsorship: https://www.apache.org/foundation/sponsorship.html" target="_blank
      - Thanks: https://www.apache.org/foundation/thanks.html" target="_blank
      - Security: https://www.apache.org/security/" target="_blank
repo_url: https://github.com/apache/incubator-sedona
repo_name: apache/incubator-sedona
theme: 
  name: 'material'
  custom_dir: docs-overrides
  palette:
    primary: 'deep orange'
    accent: 'green'
  favicon: https://www.apache.org/logos/res/sedona/sedona.png
  icon:
    logo: fontawesome/solid/globe-americas
    repo: fontawesome/brands/github
  font:
    text: Lato
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
google_analytics: ['UA-64886725-1', 'www.public.asu.edu/~jiayu2/geospark/index.html']
extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: 'https://github.com/apache/incubator-sedona'
    - icon: fontawesome/brands/twitter
      link: 'https://twitter.com/ApacheSedona'
  sedona:
    current_version: 1.1.1-incubating
    current_git_tag: sedona-1.1.1-incubating-rc1
    current_rc: 1.1.1-incubating-rc1
    current_snapshot: 1.2.0-incubating-SNAPSHOT
    next_version: 1.2.0-incubating
    current_geotools: 1.1.0-25.2
copyright: Apache Sedona, Apache Incubator, Apache, the Apache feather logo, and the Apache Incubator project logo are trademarks or registered trademarks of The Apache Software Foundation. Copyright © 2021 The Apache Software Foundation
markdown_extensions:
  - admonition
  - attr_list
  - codehilite
  - toc:
      permalink: true
      toc_depth: 3
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
plugins:
  - search:
      prebuild_index: true
  - macros
  - git-revision-date-localized:
      type: datetime  
