:root {
  --color-red: #CA463A;
  --color-red-hover: #EA5547;
  --color-white: #fff;
  --color-dark: #1C1C1C;
  --color-light-blue: #E2ECF3;
  --color-violet: #7142FF;

  --font-inter: 'Inter', sans-serif;
}
