attrs
descartes
fiona==1.10.1
geopandas==0.14.4
ipykernel
ipywidgets
jupyterlab==3.6.4
jupyterlab-widgets==1.1.7
keplergl==0.3.2
matplotlib
numpy<2
pandas==1.5.3
pydeck==0.8.0
rasterio==1.4.3
shapely==2.0.4
