attrs
descartes
fiona==1.10.1
geopandas==1.1.1
ipykernel
ipywidgets
jupyterlab==4.4.9
jupyterlab-widgets==3.0.13
keplergl==0.3.7
matplotlib
numpy==1.26.4
pandas==2.3.3
py4j==0.10.9.9
pydeck==0.9.1
rasterio==1.4.3
shapely==2.1.2
