attrs
descartes
fiona==1.10.1
geopandas==1.1.4
ipykernel
ipywidgets
jupyterlab==4.6.3
jupyterlab-widgets==3.0.17
keplergl==0.3.7
matplotlib
numpy==2.2.6
pandas==3.0.5
py4j==0.10.9.9
pydeck==0.9.3
rasterio==1.5.1
shapely==2.1.2
