[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
matplotlib="*"
descartes="*"
sphinx="*"
ipykernel="*"
jupyter="*"
toree="*"
pytest="*"
mypy="*"
pytest-json-report="*"

[packages]
findspark="*"
pandas="*"
geopandas="==0.6.0"
pyspark="==2.4.4"
pytest-json-report = "*"

[requires]
python_version = "3.7"
