[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest="*"

[packages]
findspark="*"
pandas="*"
geopandas="==0.6.0"
pyspark="*"
attrs="*"

[requires]
python_version = "3.7"
