[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest="*"
notebook="==6.0.0"
jupyter = "*"
mkdocs="*"
pytest-cov = "*"

[packages]
pandas="1.3.5"
shapely="==1.8.4"
geopandas="==0.11.1"
pyspark="==3.4.0"
attrs="*"
apache-sedona="==1.5.1"
matplotlib = "*"
descartes = "*"
keplergl = "==0.3.2"
pydeck = "==0.8.0"
ipywidgets = "*"
jupyterlab-widgets = "==1.1.7"
ipykernel = "*"
jupyterlab = "==3.6.4"
pyspark-extension = "==2.11.0.3.4"

[requires]
python_version = "3.9"
