[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest="*"
notebook="==6.0.0"
jupyter="*"
mkdocs="*"
pytest-cov = "*"

[packages]
pandas="*"
shapely="==1.8.4"
geopandas="==0.11.1"
pyspark="==3.3.2"
attrs="*"
ipykernel = "*"
apache-sedona="==1.4.0"
matplotlib = "*"
descartes = "*"

[requires]
python_version = "3.9"
