# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

name: Docker build

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/docker-build.yml'
      - 'docker/**'
  pull_request:
    branches:
      - '*'
    paths:
      - '.github/workflows/docker-build.yml'
      - 'docker/**'
env:
  MAVEN_OPTS: -Dmaven.wagon.httpconnectionManager.ttlSeconds=60

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

permissions:
  contents: read

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        os: ['ubuntu-latest', 'ubuntu-latest-arm']
        spark: ['4.0.1']
        include:
          - spark: 4.0.1
            sedona: 'latest'
            geotools: '33.1'
          - spark: 4.0.1
            sedona: 1.8.0
            geotools: '33.1'
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 17
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Setup docker (missing on macOS)
        if: runner.os == 'macos'
        run: |
          brew install colima
          brew install docker
          colima start
          DOCKER_CONFIG=${DOCKER_CONFIG:-$HOME/.docker}
          mkdir -p $DOCKER_CONFIG/cli-plugins
          curl -SL https://github.com/docker/buildx/releases/download/v0.14.1/buildx-v0.14.1.darwin-amd64 -o $DOCKER_CONFIG/cli-plugins/docker-buildx
          chmod +x $DOCKER_CONFIG/cli-plugins/docker-buildx
      - env:
          SPARK_VERSION: ${{ matrix.spark }}
          SEDONA_VERSION: ${{ matrix.sedona }}
          GEOTOOLS_VERSION: ${{ matrix.geotools }}
        run: ./docker/build.sh ${SPARK_VERSION} ${SEDONA_VERSION} local ${GEOTOOLS_VERSION}
      - name: Test notebooks
        run: |
          chmod +x docker/test-notebooks.sh
          docker run --rm \
            -v ${{ github.workspace }}/docker/test-notebooks.sh:/opt/test-notebooks.sh:ro \
            apache/sedona:${{ matrix.sedona }} \
            /bin/bash /opt/test-notebooks.sh
